.feedback-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #ffffff;
  margin: 0 auto;
  gap: 20px;
}
